## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio Code
.vscode/

## Rider
.idea/
*.sln.iml

## NuGet Packages
packages/
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin
$RECYCLE.BIN/

## Mac
.DS_Store

## Temporary files
*.tmp
*.temp
*~

